.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  border-radius: 8px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.h1-jardin-show{
  display: flex;
  justify-content: center;
}


.plant-info{
  color: black;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.plant-image-and-name{
  margin-top: 25px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
  height: 400px;
}

.card-category{
  border: 1px solid black;
  border-radius: 8px;
  width: 250px;
  height: 220px;
}

.div-show-garden{
  display: flex;
  flex-direction: column;
}

.h2-plant-name{
  color: white;
}
